body{
    background-color: black;
}
#js-calc-title{
    color: lightgray;
}
#app{
    margin-top: 5vh;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: midnightblue;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#calculator{
    box-sizing: border-box;
    margin-left: 30vw;
    margin-right: 30vw;
    border: 5px solid black;
}

.calc-btn{
    padding: 2%;
    background-color: dimgray;
    border: 1px solid black;
}

#clear{
    background-color: darkred;
    color: white;
}
#equals{
    background-color: orange;
}
#multiply{
    background-color: gray;
}
#divide{
    background-color: gray;
}
#add{
    background-color: gray;
}
#subtract{
    background-color: gray;
}
#decimal{
    background-color: darkblue;
    color: white;
}

/****** This is from w3Schools ******/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#display{
    background-color: black;
    color: white;
    border: 3px solid lightgray;
    padding: 1%;
    text-align: right;
}